.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



h1 {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 2em;
  margin: auto;

}

h2 {
  text-align: center;

}

/* #toDoForm {
  justify-content: center;
} */

form {
  text-align: center;
}

#toDoListItem {
  text-align: center;
  font-weight: bolder;
  font-size: large;

}


ul {
  text-align: center;
  list-style-position: inside;
  padding: 10px;
  background: blue;
  margin: auto;
  
}

ul li {
  background: lightblue;
  padding: 10px;

}